<p-toast></p-toast>
<div class="p-grid">
  <div class="p-col-6">
    <div class="box">
      <p-card header="Content" styleClass="ui-card-header ui-card-content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
        aliquam architecto ducimus, commodi saepe et aliquid illum odio
        cupiditate at animi officiis, ipsa itaque dolorem blanditiis, vitae
        temporibus iusto cumque?
      </p-card>
      <div class="box align-right">
        <button
          pButton
          label="Check"
          (click)="onClick('This is a toast message...')"
        ></button>
      </div>
    </div>
  </div>
  <div class="p-col">
    <div class="box">col1</div>
  </div>
  <div class="p-col">
    <div class="box">
      col2
    </div>
  </div>
  <div class="p-col">
    <div class="box">col3</div>
  </div>
</div>
