/* HeroesComponent's private CSS styles */
.selected {
  background-color: #cfd8dc !important;
  color: white;
}
.heroes {
  box-sizing: border-box;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  box-sizing: border-box;
  cursor: pointer;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  height: 1.8em;
  border-radius: 4px;
}
.heroes li.selected:hover {
  background-color: #bbd8dc !important;
  color: white;
}
.heroes li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.05em;
}
.heroes .badge {
  box-sizing: border-box;
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.8em;
  background-color: #607d8b;
  line-height: 1em;
  height: 2.2em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
.heroes input {
  box-sizing: border-box;
  padding: 0.4em;
  border: 0.1em solid lightgrey;
  border-radius: 8px;
  margin-right: -20px;
  width: 16em;
}
h2 span:first-child {
  color: #607d8b;
}
h2:last-child {
  font-weight: lighter;
  color: lightgray;
  font-size: 0.85em;
}
